.console-component
  .download
    a(href="https://desktop.nanobox.io/downloads/")
      .txt Download The<br/>Nanobox CLI
      img.shadow-icon(data-src="terminal-downloader")
  .guide Guide : <a href="https://docs.nanobox.io/data-management/remotely-managing-data/">Tunneling into your Service</a>
