.console-component
  .download
    a(href="https://desktop.nanobox.io/downloads/")
      .txt Download<br/>Nanobox Desktop
      img.shadow-icon(data-src="terminal-downloader")
  .guide Guide : <a href="#">Tunneling into your Service</a>
